/* Importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

a {
  text-decoration: none;   /* removes underline */
  color: inherit;          /* uses parent color instead of default blue/violet */
}

ul{
    list-style: none;
}


:root {
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /*Border radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*Site max width*/
    --site-max-width: 1300px;
}

html{
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    border: none;
    background-color: none;

}

img{
    width: 100%;
}

.navbar{ 
    margin: 0 auto; 
    padding: 0 20px; 
    max-width: var(--site-max-width); 
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);

}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);

}

/* Navbar styling*/
header{
    
   position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--primary-color);
    
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}
.navbar .nav-logo{
    text-decoration: none;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
    list-style: none;
    
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    

}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}
/*Hero section styling*/
.hero-part {
    min-height: 100vh;
    background: var(--primary-color);

}

.hero-part .section-content
{
    display: flex;
    align-items: center;
    min-height: center;
    color: var(--white-color);
    justify-content: space-between;
    padding: 100px;
}

.hero-part .hero-details .title{
    color: var(--secondary-color);
    font-size: var(--font-size-xxl);
    font-family: "Miniver", sans-serif;
}

.hero-part .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-part .hero-details .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-part .hero-details .buttons{
    display: flex;
    gap: 23px;
}

.hero-part .hero-details .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color) ;
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
    
}

.hero-part .hero-details .button:hover,
.hero-part .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;

}

.hero-part .hero-details .contact-us:hover{
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);

}

.hero-part .hero-image-warpper{
    padding-top: 50px;
    max-width: 500px;
    margin-right: 30px;
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

/*AbouT section styling*/
.about-part{
    padding: 120px 0;
    background-color: var(--light-pink-color);
}

.about-part .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    

}

.about-part .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-part .about-details .section-title{
    padding: 0;
}

.about-part .about-details{
    max-width: 50%;
}

.about-part .about-details .text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);

}

.about-part .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
    
}

.about-part .social-link-list .social-link{
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;

}

.about-part .social-link-list .social-link:hover{
    color: var(--secondary-color);

}

/* Menu part styling */
.menu-part{
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}

.menu-part .menu-list{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap:110px;
    justify-content: space-between;

}

.menu-part .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/3 -110px);
}

.menu-part .menu-list .menu-item .menu-image{
    max-width: 80%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;

}

.menu-part .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.menu-part .menu-list .menu-item .text{
    font-size: var(--font-size-m);
}

/*Testmonials part styling*/
.testimonials-part{
    padding: 50px 0 100px;
    background: var(--light-pink-color);

}

.testimonials-part .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}

.testimonials-part .testimonial{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
   
}

.testimonials-part .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}

.testimonials-part .testimonial .name{
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.testimonials-part .testimonial .feedback{
    line-height: 25px;
}

.testimonials-part .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color);
}

.testimonials-part .swiper-slide-button {
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.testimonials-part .swiper-slide-button:hover{
    color: var(--primary-color);
}

/*Gallery style*/
.gallery-part{
    padding: 50px 0 100px;
   /* background: var(--light-pink-color);*/
}

.gallery-part .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
}

.gallery-part .gallery-list .gallery-item{
    width: calc(100% /3 - 34px);
    border-radius: var(--border-radius-s);
    overflow: hidden;
}

.gallery-part .gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}

.gallery-part .gallery-item:hover .gallery-image{
    transform: scale(1.3);
}

/*Contact style*/
.contact-part{
    padding: 50px 0 100px;
    background-color: var(--light-pink-color);
}

.contact-part .section-content{
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-part .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-part .contact-info-list .contact-info i{
    font-size: var(--font-size-m);

}

.contact-part .contact-form .form-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    background: var(--white-color);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-gray-color);
    margin-bottom: 16px;
    
}

.contact-part .contact-form{
    max-width: 50%;
}

.contact-part .contact-form .form-input:focus{
    border-color: var(--secondary-color);
}

.contact-part .contact-form textarea.form-input {
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-part .contact-form .submit-button{
    background: var(--primary-color);
    padding:  10px 20px ;
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
    margin-top: 10px;
}

.contact-part .contact-form .submit-button:hover{
    color: var(--primary-color);
    background: transparent;
}

/*footer part style*/
.footer-part{
    padding: 20px 0;
    background: var(--dark-color);
    height: 100px;
    

}

.footer-part .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    padding-top: 25px;
}

.footer-part:where(.copyright-text, .social-link, .policy-link){
    color: var(--white-color);
    transition: 0.2s ease;

}

.footer-part .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-part .social-link-list.social-link{
    font-size: var(--font-size-l);
}

.footer-part .social-link-list .social-link:hover,
.footer-part .policy-text .policy-link:hover{
    color: var(--secondary-color);
}

.footer-part .policy-text .separator{
    margin: 0 5px;
    color: var(--white-color);
}

/* Responsive media query code for max width 2250px*/
@media screen and (max-width: 2250px){
    .menu-part .menu-list{
        gap: 60px;
    }


    .menu-part .menu-list .menu-item{
         width: calc(100% / 3 - 60px);
    }
}

/* Responsive media query code for max width 900px*/
@media screen and (max-width: 900px){
    :root {
    --font-size-m: 1.0rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
    }

     body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        /* consider about this backdrop-filter*/
             -webkit-backdrop-filter: blur(5px); /* Safari support */
             backdrop-filter: blur(5px);         /* Normal */
             background: rgba(0, 0, 0, 0.2);
        

     }
    
    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
        font-size: var(--font-size-l);
       /* color: var(--white-color);
         cursor: pointer;
         background: transparent;
         border: none;*/
    }

    .navbar #menu-close-button{
        position:absolute;
        right: 30px;
        top: 30px;
        align-self: center;
        
    }

    .navbar #menu-open-button{
        color: var(--white-color) ;
        background-color: transparent;
    }

    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu{
        left: 0;

    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .hero-part .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;

    }

    .hero-part .hero-details .subtitle{
        text-align: center;
        padding-left: calc(100%/3.5) ;
    }

    .hero-part .hero-details :is(.sublitle, .description), .about-part .about-details, .contact-part .contact-form{
        max-width: 100%;
        
    }

    .hero-part .hero-details .buttons {
        justify-content: center;
    }

    .hero-part .hero-image-warpper{
        max-width: 270px;
        margin-right: 0;
    } 

    .about-part .section-content {
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-part .about-image-warpper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;

    }

    .menu-part .menu-list{
        gap: 30px;
    }

    .menu-part .menu-list .menu-item{
        width: calc(100% / 2 - 30px);
    }
    .menu-part .menu-list .menu-item .menu-image{
        max-width: 200px;
    }
    .gallery-part .gallery-list .gallery-item{
        width: calc(100%/2 - 30px);
    }
    .contact-part .section-content {
        flex-direction: column-reverse;
        align-items: center;
    }
} 

/* Responsive media query code for max width 640px*/
@media screen and (max-width: 640px){
    .menu-part .menu-list{
        gap: 60px;
    }

    .menu-part .menu-list .menu-item,
    .gallery-part .gallery-list .gallery-item{
        width: 100%;
    }

    .testimonials-part .swiper-slide-button{
        display: none;
    }

    .testimonials-part .slider-wrapper{
        margin: 0 0 30px;
    }

    .footer-part .section-content{
       flex-direction: column;
       gap: 20px; 
    }

    .footer-part{
        height: 200px;
    }


}

